@mixin iconText {
    display: block;
    font-size: 16px;
    text-align: center;
    font-family: $body_family;

}

@mixin buttonStyle($bg_color,$t_color) {
    background-color: $bg_color;
    color: $t_color;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    margin: 10px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
@mixin buttonStyle_h($bg_color,$t_color) {
    background-color: $bg_color;
    color: $t_color;
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
    margin: 10px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}


/*inner main image*/
@mixin innerMainBg($inner_main_bg_img){
    position: relative;
    background-image: url($inner_main_bg_img);
    margin: 0 auto;
    text-align: center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box_shadow;
}

/*inner main image*/
@mixin innerMainBgColor{
    background-color: rgba(#fff,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}   


/*inner main image caption*/
@mixin innerMainBgCap{
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin:0 auto;
    position: absolute;
    //z-index: 1;
    text-shadow: $text_shadow;
}

@mixin highlight_bg{
    background: linear-gradient(transparent 80%, $company_color_g 80%);
    display: inline-block;
}