/*variabler start*/
$rubrik_family: 'Vidaloka', serif;
$body_family:'Raleway', sans-serif;
$company_color_g: #19d300;
$company_color_p: #cc0033;
$company_color_y: #ffcc00 ;
$FontAwesome_icon: 50px;
$box_shadow: 0 0 8px 3px rgba(#000,0.3);
$box_shadow_u: 0 5px 5px -3px rgba(#000,0.3);
$box_shadow_inner:0 5px 5px -3px rgba(#19d300,1);
$text_shadow: 0px 0px 3px #000;
$margin_footer_container:0 50px 30px 50px;
$highlight_bg: linear-gradient(transparent 80%, $company_color_g 80%);


@import "mixins";
@import "mobile";

@media screen and (min-width: 750px){
    @import "tablet";
}

@media screen and (min-width: 1024px){

    @import "desktop";
}